/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@-moz-keyframes sample {}
/* line 9, ../scss/screen.scss */
body {
  background: white;
}

/* line 13, ../scss/screen.scss */
button {
  font-size: 18px;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0 1px 2px silver;
  -moz-box-shadow: 0 1px 2px silver;
  box-shadow: 0 1px 2px silver;
  /* fallback/image non-cover color */
  background-color: white;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(white, silver);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(silver));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(white, silver);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(white, silver);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 23, ../scss/screen.scss */
button i {
  padding-right: .5em;
  color: black;
}

/* line 30, ../scss/screen.scss */
.slider-wrapper, #slider {
  width: 500px;
  height: 200px;
}
