@mixin animation (

	$name: false,

	$duration: false,

	$timing_function: false,

	$delay: false,

	$iteration_count: infinite,

	$direction: false

) {

	@if $name { -webkit-animation-name: $name; -moz-animation-name: $name; -ms-animation-name: $name; }

	@if $duration { -webkit-animation-duration: $duration; -moz-animation-duration: $duration; -ms-animation-duration: $duration; }

	@if $timing_function { -webkit-animation-timing-function: $timing_function; -moz-animation-timing-function: $timing_function; -ms-animation-timing-function: $timing_function; }

	@if $delay { -webkit-animation-delay: $delay; -moz-animation-delay: $delay; -ms-animation-delay: $delay; }

	@if $iteration_count { -webkit-animation-iteration-count: $iteration_count; -moz-animation-iteration-count: $iteration_count; -ms-animation-iteration-count: $iteration_count; }

	@if $direction { -webkit-animation-direction: $direction; -moz-animation-direction: $direction; -ms-animation-direction: $direction; }

}

@mixin gradient($from, $to) {
	/* fallback/image non-cover color */
	background-color: $from;
	 
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient($from, $to);
	 
	/* Safari 4+, Chrome 1+ */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
	 
	/* Safari 5.1+, Chrome 10+ */
	background-image: -webkit-linear-gradient($from, $to);
	 
	/* Opera 11.10+ */
	background-image: -o-linear-gradient($from, $to);
}

@-moz-keyframes sample{
	0%{ 
		// rules
	}

	100%{
		// rules
	}
}


//Animation Usage 
//@include animation(sample, 1s , ease-in-out, 0s , infinite , false);