/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass";
@import "origin";

body{
	background: white;
}

button{
	font-size : 18px;
	cursor    : pointer;
	border    : none;

	@include  box-shadow(0 1px 2px #C0C0C0);
	@include  gradient(white , #C0C0C0);
	@include  border-radius(0px);


	i{
		padding-right:.5em;
		color: black;
	}
}


.slider-wrapper, #slider{
	width: 500px;
	height: 200px;
}